@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 67% 96%; /* #F2F6FC */
    --foreground: 219 29% 21%; /* #253044 */

    --card: 0 0% 100%; /* #FFFFFF */
    --card-foreground: 219 29% 21%;

    --popover: 0 0% 100%;
    --popover-foreground: 219 29% 21%;

    --primary: 210 50% 46%; /* #3B74B1 */
    --primary-foreground: 210 20% 98%;

    --secondary: 214 100% 87%; /* #BFD9FF */
    --secondary-foreground: 219 29% 21%;
    
    --muted: 214 100% 87%;
    --muted-foreground: 212 15% 45%; /* #657384 */

    --accent: 212 100% 81%; /* #9EC9FF */
    --accent-foreground: 219 29% 21%;

    --destructive: 0 72% 51%; 
    --destructive-foreground: 0 0% 98%;
    
    --border: 214 100% 87%; /* #BFD9FF */
    --input: 214 100% 87%;
    --ring: 211 74% 67%; /* #6CA6E8 */

    --chart-1: 211 74% 67%;
    --chart-2: 212 100% 81%;
    --chart-3: 210 50% 46%;
    --chart-4: 212 15% 45%;
    --chart-5: 214 100% 87%;

    /* Sidebar Colors */
    --sidebar-background: 211 74% 67%; /* #6CA6E8 */
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 211 74% 67%;
    --sidebar-accent: 210 50% 46%; 
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 210 50% 46%;
    --sidebar-ring: 212 100% 81%;
  }

  .dark {
    --background: 219 29% 21%; /* #253044 */
    --foreground: 214 100% 87%; /* #BFD9FF */

    --card: 219 29% 25%; 
    --card-foreground: 214 100% 87%;
    
    --popover: 219 29% 25%;
    --popover-foreground: 214 100% 87%;
    
    --primary: 211 74% 67%; /* #6CA6E8 */
    --primary-foreground: 219 29% 15%;
    
    --secondary: 212 15% 45%; /* #657384 */
    --secondary-foreground: 214 100% 87%;
    
    --muted: 212 15% 30%;
    --muted-foreground: 212 15% 60%;
    
    --accent: 212 100% 81%;
    --accent-foreground: 219 29% 15%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 212 15% 30%; 
    --input: 212 15% 30%;
    --ring: 211 74% 67%;

    --chart-1: 211 74% 67%;
    --chart-2: 212 100% 81%;
    --chart-3: 210 50% 46%;
    --chart-4: 212 15% 45%;
    --chart-5: 214 100% 87%;

    /* Sidebar Colors */
    --sidebar-background: 211 74% 67%;
    --sidebar-foreground: 219 29% 15%;
    --sidebar-primary: 219 29% 15%;
    --sidebar-primary-foreground: 211 74% 67%;
    --sidebar-accent: 212 100% 81%;
    --sidebar-accent-foreground: 219 29% 15%;
    --sidebar-border: 211 74% 57%;
    --sidebar-ring: 212 100% 81%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
