@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 208 38% 90%; /* Lighter version of Light Background for cards */
    --foreground: 205 18% 36%; /* Deep Neutral for text */

    --card: 208 38% 93%; /* Lighter version of Light Background for cards */
    --card-foreground: 205 18% 36%;

    --popover: 208 38% 93%;
    --popover-foreground: 205 18% 36%;

    --primary: 208 73% 44%; /* Darker version of new primary for buttons */
    --primary-foreground: 0 0% 100%;

    --secondary: 208 38% 66%; /* Medium Accent */
    --secondary-foreground: 205 18% 20%;
    
    --muted: 208 38% 83%; /* Light Background */
    --muted-foreground: 205 18% 45%;

    --accent: 208 83% 84%; /* Lighter version of new primary for accents */
    --accent-foreground: 205 18% 20%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 208 38% 80%;
    --input: 208 38% 80%;
    --ring: 208 83% 74%; /* New primary for ring */

    --chart-1: 208 83% 64%;
    --chart-2: 208 83% 74%;
    --chart-3: 205 18% 36%;
    --chart-4: 208 83% 84%;
    --chart-5: 208 38% 83%;

    /* Sidebar Colors */
    --sidebar-background: 208 83% 74%; /* New primary */
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 208 83% 54%;
    --sidebar-accent: 208 83% 80%; 
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 208 83% 80%;
    --sidebar-ring: 208 83% 74%;
  }

  .dark {
    --background: 205 18% 15%;
    --foreground: 208 38% 90%;

    --card: 205 18% 20%; 
    --card-foreground: 208 38% 90%;
    
    --popover: 205 18% 15%;
    --popover-foreground: 208 38% 90%;
    
    --primary: 208 83% 74%; /* New primary */
    --primary-foreground: 205 18% 10%;
    
    --secondary: 208 20% 53%;
    --secondary-foreground: 0 0% 100%;
    
    --muted: 205 18% 30%;
    --muted-foreground: 208 38% 80%;
    
    --accent: 205 18% 40%;
    --accent-foreground: 208 38% 98%;

    --destructive: 0 63% 51%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 205 18% 30%; 
    --input: 205 18% 30%;
    --ring: 208 83% 74%;

    --chart-1: 208 83% 64%;
    --chart-2: 208 83% 74%;
    --chart-3: 208 38% 80%;
    --chart-4: 205 18% 50%;
    --chart-5: 205 18% 30%;

    /* Sidebar Colors */
    --sidebar-background: 208 83% 74%; /* New primary */
    --sidebar-foreground: 205 18% 10%;
    --sidebar-primary: 205 18% 10%;
    --sidebar-primary-foreground: 208 83% 74%;
    --sidebar-accent: 208 83% 80%;
    --sidebar-accent-foreground: 205 18% 10%;
    --sidebar-border: 208 83% 80%;
    --sidebar-ring: 208 83% 74%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
